<h1 class="title">What 2 Do</h1>
  <div class="completed-list-slash">
    <div class="todo-form" ng-app="toDoApp" ng-controller="todoCtrl">
          <p>
            Sort By:
            <select class="sort-box" ng-model="orderBy">
              <option>from</option>
              <option>content</option>
              <option>createdAt</option>
              <option>completed</option>
              <!-- completed.true only -->
            </select>
          </p>
            <!-- search box -->
          <input class="input-box" placeholder="Search:" ng-model="searchText">
          <!-- User todo input -->
          <form ng-submit="addTodo()">
            <input class="input-box" placeholder="enter name" type="text" ng-model="user">
           </br>
            <input class="input-box" placeholder="your todo goes here" type="text" ng-model="todo">
            <input type="submit">
          </form>
          <!-- display todos -->
          <ul ng-repeat="todo in todos | orderBy:orderBy | filter:searchText" class="todo-box">
            <!-- arrays are fully sortable and filterable -->
            <li ng-show="lessThanWeekOld(todo.createdAt)">

            <!-- check angular docs or tutorials for ways to use ng-model and ng-checked -->
              <input ng-click="checkTrue(todo)" type="checkbox" ng-checked="todo.completed" ng-model="todo.completed" ng-true-value= true ng-false-value= false>
              <span ng-class="todo.completed ? 'completed-true':''">

                 {{ todo.from }}: {{ todo.content }} {{ todo.createdAt}}
                 </label>
              </span>

              <!-- delete todo using $remove -->
              <a class="remove" href="" ng-click="todos.$remove(todo)">X</a>
            </li>
          </ul>
    </div>
  </div>
</section>
