<h1 class="title">What 2 Do</h1>
  <!-- <div class="history-list-container column one"> -->
        <div class="completed-list-slash">
          <div class="todo-form" ng-app="sampleApp" ng-controller="ChatCtrl">
            <!--  <div class="todo-form" ng-app="todoApp" ng-controller="todoCtrl">  -->
            <p>
              Sort By:
              <select class="sort-box" ng-model="orderBy">
                <option>from</option>
                <option>content</option>
                <option>timestamp</option>
                <option>complete</option>
              </select>
            </p>

            <input class="input-box" placeholder="Search:" ng-model="searchText">

            <form ng-submit="addMessage()">
              <!-- <form ng-submit="addTodo()"> -->
              <input class="input-box" placeholder="your todo goes here" type="text" ng-model="message">
              <!-- <input type="text" ng-model="todo"> -->
              <input type="submit">
            </form>
            <ul class="chatbox">
              <!-- todo-box -->
              <!-- arrays are fully sortable and filterable -->
              <li ng-repeat="message in messages | orderBy:orderBy | filter:searchText">
                {{ message.from }}: {{ message.content }} {{todo.value}}
                <!-- {{ todo.from }}: {{ todo.content }} add completion truthy -->

                <!-- delete a message using $remove -->
                <a class="remove" href="" ng-click="messages.$remove(message)">X</a>
              </li>
            </ul>
            <div>

            <div>
          </div>
        </div>
    </div>
</section>
